@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }
  
  :root {
    --primary-color:  #10b96a;
    --secondary-color: white;
    
  }

  body {
    width: 100%;
    background-color: #1f1f1f;
    background-size: 10px 10px;
    height: 100%;
    
    font-family: 'Montserrat', sans-serif;
    }

  
  .navigation{
    /* height: 5rem; */
    width: 100%;
    background-color: #1f1f1f;
    color: var(--secondary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    margin-bottom: 1rem;
}

.navigation .nav-brand{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 1rem;
}
  .container {
    text-align: center;
    max-width: 400px;
    margin: auto;
    color: aliceblue;
    background-color:  var(--primary-color);
    padding: 2rem;
    border-radius: 2rem;
 
  /* border: 15px solid green;
  padding: 30px; */
  
  }
  
  
  .heading {

    text-align: center;
   
  }

  .form {
    max-width: 360px;
    margin: 0 auto;
    text-align: center;
  }
  .form-section {
    margin-bottom: 1rem;
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  input {
    width: 60%;
    font: inherit;
    padding: 0.5rem;
  }
  
  .btn {
    border-radius: 0.2rem;
	border: 1px solid rgb(104, 104, 104);
	width: 60%;
	margin: 1rem auto;
	padding: 0.5rem;
	font-size: 1rem;
  border-radius: 0.5rem;
	background-color: aliceblue;
   
  }
  
  .result {
    text-align: center;
    font-size: 2rem;
    color: #1f1f1f;
  }
  

  .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1f1f1f;
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .footer-header{
    font-weight: bold;
    font-size: larger;
    
}
